.voting-image-container {
    position: relative;
    width: 640px;
    margin: 10px 0 0 20px;
    border-radius: 20px;
}

.voting-image {
    width: 100%;
    min-height: 360px;
    border-radius: 20px;
}