.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 680px;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
    margin: 30px 30px 30px auto;
    background-color: #FFFFFF;
}

.not-found-text {
    max-width: 400px;
    color: #FF868E;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
}

.not-found-link {
    margin-top: 16px;
    font-size: 20px;
    padding: 16px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #FBE0DC;
    transition: 200ms;
}

.not-found-link:hover {
    color: #FFFFFF;
    background-color: #FF868E;
}